*{
    margin: 0;;
    padding: 0;
    /* box-sizing: border-box; */
}

.heading{
    text-align: center;
    color: rgb(245, 28, 173);
    font-size: 50px;
    text-decoration: underline;
}
.container{
    /* overflow: hidden; */
    /* margin: auto; */
    background-color: bisque;
    height: 500px;
    width: 600px;
    display: grid;
    /* grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px; */

    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 1fr 1fr 1fr;

    /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); */

    /* row-gap: 20px;
    column-gap: 20px; */

    gap: 12px;
}
.item{
    background-color: rgb(196, 83, 18);
    /* height: 80px;
    width: 80px; */
}
#item1{
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 / span 3;
}
#footer{
    background-color: rgb(5, 247, 25);
    grid-column-start: 1;
    grid-column-end: 4;
}